*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{

    --cell-side-length: 50px;
    --soft-white-blue: rgb(157, 194, 218);
    --blue-grey:rgba(3, 80, 94, 0.747);
    --madimi:'Madimi one', sans-serif;
    --dancing-script:'Dancing Script', cursive;

}

body{
    background-color:var(--blue-grey);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.game-box{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    /* align-items:center; */
    background-color:var(--soft-white-blue);
    margin:0 auto;
    margin-top:5rem;
    padding:2.5rem 5rem;
    border-radius:12px;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.527);
}

.button-box{
    display:flex;
    flex:1;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    padding-right:5rem;
  
}
h1{
    font-family: var(--madimi);
    color:rgb(212, 56, 35);
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    font-size:3rem;
    font-weight:800;
}

.button{
    
    background-color:rgb(23, 96, 179);
    color:rgb(255, 255, 255);
    border:none;
    text-shadow: 2px 2px 1px rgb(29, 26, 26);
    font-size:1.35rem;
    width: 140px;
    height:60px;
    border-radius:4px;
    font-family:var(--madimi);
    font-weight:900;
    box-shadow:3px 3px rgba(0, 0, 0, 0.993);
    transition:transform 0.15s;
    transition:box-shadow 0.15s;
    /* transition:color 0.25s; */
   
}

.button-active{
    box-shadow:none;
    transform:translateY(-1px);
    color:grey;
    /* transform:translateX(2px); */
}
.button:hover{
    cursor:pointer;
}
#game-screen{
    background-color:white;
    
    width:calc(var(--cell-side-length) * 16);
    height:calc(var(--cell-side-length) * 16);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    box-sizing:content-box;
    border:5px solid rgba(128, 128, 128, 0.233);
    border-radius:12px;
   
}
.game-cell{

width:var(--cell-side-length);
height:var(--cell-side-length);
/* transition:border-color 1.8s ease-in; */

}

.grid-active{
border:0.5px solid rgba(127, 141, 145, 0.26);
/* transition:border 0.2s ease-in; */
}
.game-cell:hover{
    cursor:crosshair;
}

